body {
    background: #121212;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.calculator {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h1 {
    color: white;
}

input {
    width: 240px;
    height: 60px;
    font-size: 30px;
    text-align: right;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    padding-right: 10px;
}

button {
    width: 55px;
    height: 55px;
    margin: 4px;
    border: none;
    border-radius: 12px;
    background: #333;
    color: white;
    font-size: 20px;
}

button:hover {
    background: #555;
}